body{
  background: #eee;
}

.main{
  width: 85%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}

.form{
  width: 60%;
  margin: auto;
  background: white;
  padding: 30px;
}

.mgt{
  margin-top: 1.5rem!important;
}

.rsv-card{
  padding: 15px;
}

.rsv-tbl{
  width: 550px;
}